.canvas {
  position: relative;
  max-width: 825px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
}

.coords {
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 5px;
  position: absolute;
  top: 16px;
  left: 78%;
  width: 10em;
  padding: 1em;
}

.coord--item {
  display: inline-block;
}

.form-controls {
  padding-bottom: 1em;
}
